$alive: #97B1A6;
$td-color: #333;
$td-hover: #ccc;

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.container {
  flex: 1;
}

table {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

td {
  border: 2px solid $td-color;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

td:hover {
  background-color: $td-hover;
}

.alive {
  background-color: $alive;

  &:hover {
    background-color: darken($alive, 25%);
  }
}

