$alive: #97B1A6;
$td-color: #333;
$td-hover: #ccc;
$button: #C9C5BA;
$button-border: #698996;

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.container {
  flex: 1;
}

table {
  margin: 0 auto;
}

tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

td {
  border: 2px solid $td-color;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

td:hover {
  background-color: $td-hover;
}

.alive {
  background-color: $alive;

  &:hover {
    background-color: darken($alive, 25%);
  }
}

.buttons {
  text-align: center;
  margin: 1rem 0;

  .button {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    background-color: $button;
    border: 1px solid $button-border;
    border-radius: 1rem;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: white;
    }

    &:focus {
      outline: none;
    }
  }
}
